In [6]:
import numpy as np
import os
import pandas as pd
from PIL import Image
import matplotlib.pyplot as plt

In [7]:
def show_images(image_list):
    for i in image_list:
        plt.imshow(i)
        plt.pause(0.5)

def convertToArray(image_list):
    image_array_list=[]
    for i in image_list:
        image_array_list.append(np.asarray(i))
    return pd.Series(image_array_list)

def convertToImage(image_array_list):
    image_list=[]
    for i in image_array_list:
        image_list.append(Image.fromarray(i))
    return pd.Series(image_list)

In [8]:
def read_data(remove_types):

    reptiles=pd.DataFrame()

    reptile_file=os.listdir("/Users/erikafox/bme-reptile-identification/data/reptiles/")
    for i in reptile_file:
        rep_list=[]
        if (i != ".DS_Store"):
            for j in os.listdir("/Users/erikafox/bme-reptile-identification/data/reptiles/"+i):
                if (j != ".DS_Store"):
                    if len(rep_list)<500:
                        rep_list.append(Image.open("/Users/erikafox/bme-reptile-identification/data/reptiles/"+i+"/"+j).convert("RGBA"))
        
            rep_list=convertToArray(rep_list)
            df=pd.DataFrame({"image":rep_list})

            df["target"]=i
            reptiles=pd.concat([reptiles,df])

    #remove_types=["Lizard","Toad"]
    reptiles=reptiles[reptiles["target"].isin(remove_types)==False]
    return reptiles.reset_index()

In [9]:
read_data(["Lizard","Toad"])

                                                 image           target
0    [[[5, 6, 0, 255], [3, 4, 0, 255], [7, 8, 2, 25...  Turtle_Tortoise
1    [[[79, 104, 3, 255], [80, 105, 4, 255], [83, 1...  Turtle_Tortoise
2    [[[95, 121, 110, 255], [65, 86, 77, 255], [41,...  Turtle_Tortoise
3    [[[82, 90, 43, 255], [81, 90, 43, 255], [81, 9...  Turtle_Tortoise
4    [[[181, 170, 164, 255], [206, 195, 189, 255], ...  Turtle_Tortoise
..                                                 ...              ...
495  [[[155, 158, 165, 255], [154, 157, 164, 255], ...            Snake
496  [[[63, 66, 71, 255], [64, 67, 72, 255], [64, 6...            Snake
497  [[[81, 135, 119, 255], [74, 126, 113, 255], [7...            Snake
498  [[[231, 254, 182, 255], [229, 255, 181, 255], ...            Snake
499  [[[97, 64, 29, 255], [98, 65, 30, 255], [99, 6...            Snake

[3535 rows x 2 columns]